@font-face {
    font-family: fonts_Nunito;
    src: url('Nunito-Regular.ttf');
}
*{
    outline: none !important;
    font-family: fonts_Nunito;
}
body{
    background-color: rgb(224, 227, 239);
    overflow: hidden; 
}
hr{
    opacity: 0.3;
}
.container.main{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 81vw;
    height: 90vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0px 40px 25px -20px rgb(127, 127, 127);
    background-color: rgb(38, 42, 65);
}
.main>span:first-of-type{
    position: absolute;
    top: 3%;
    left: 2%;
    width: 35px;
    height: 35px;
    border-radius: 12px;
    color: rgba(255,255,255, 0.6);
    font-size: small;
    background-color: rgb(60,63,84);
    z-index: 10;
    transition: all ease 0.3s;
    /* Safari */
    -webkit-user-select: none;
    /* IE 10 and IE 11 */
    -ms-user-select: none;
    /* standard browsers */
    user-select: none;
}
.main>span:first-of-type p{
    position: relative;
    top: -18px;
    left: 3px;
    padding: 10px 7px;
}
.container.main>span.active{
    width: 40%;
    height:80%;
}
.main>div::-webkit-scrollbar, .container.right>div.task::-webkit-scrollbar{
    width: 0px;
}
.container.left, .container.right{
    position: relative;
    box-sizing: border-box;
    padding: 4%;
    margin: 1vw;
    width: 48%;
    border-radius: 15px;
    overflow: hidden; 
}
/* styling in left side container */
.container.left{
    padding: 10%;
    color: rgb(255,255,255);
}
.container.left>div.heading{
    position: relative;
    width: 100%;
    height: 35%;
    line-height: 12px;
}
.container.left>div.heading>p{
    color: rgba(255, 255, 255, 0.274);
    font-size: 12px;
    width: 100%;
}
.container.left>div.heading>div.search{
    position: relative;
    top: 10%;
    box-sizing: border-box;
    border-radius: 12px;
    width: 100%;
    height: 45px;
    padding: 3px;
    color: rgb(255,255,255);
    background-color: rgba(255, 255, 255, 0.1);
}
.container.left .search>span{
    position: relative;
    top: 3px;
    padding: 4px 10px;
    color: rgba(255,255,255, 0.4);
    font-size: 25px;
}
.container.left .search>input{
    position: relative;
    border: none;
    top: 1px;
    height: 90%;
    width: 85%;
    color: rgba(255,255,255, 0.8);
    background-color: transparent; 
    margin-left: -5px;
}

.proj_list{
    position: relative;
    display: inline-block ;
    margin: 7px;
    width: 25%;
    height: 20%;
    
}
.proj_list>div{
    display: inline-block;
    padding: 20px 20px;
    border-radius: 20px;
    background: linear-gradient(to bottom left, rgb(167, 27, 108), rgb(255, 42, 166));
}
.proj_list.active>div::before{
    position: absolute;
    content: '';
    top: -6px;
    left: -5px;
   padding: 36px;
    border: 2px solid rgb(255, 42, 166);
    border-radius: 20px;
}
.proj_list>p{
    position: relative;
    font-size: 13px;
    text-align: justify;
    color:rgba(255, 255, 255, 0.5)
}
/* styling in right side container */
.container.right{
    background-color: rgb(255,255,255);
    line-height: 18px;
}
.container.right>.heading{
    position: relative;
    top: 3%;
    left: 3%;
    background-color: rgb(255,255,255);
}
.container.right>.heading.inactive, .container.right>div.task.inactive{
    display: none;
}
.container.right>.heading>h2{
    padding: 0;
    margin: 0;
    line-height: 18px;
}
.container.right>.heading>p{
    color: rgb(202, 202, 202);
    font-size: 11px;
    width: 60%;
}
.container.right>div.task{
    position: relative;
    top: 3%;
    width: 100%;
    height: 70%;
    overflow: auto !important;
}
.container.right>.task>div{ 
    padding: 10px;
    margin-top:-20px;
}
.container.right>.task>div:first-of-type{
    margin-top: 10px !important;
}
.label{
    display: block;
    position: relative;
    color: rgb(100, 100, 100);
    height: 30px;
    width: 90%;
}
.label p {
    position: relative;
    display: inline-block;
    top: -7px;
    left: 5px;
    font-size: 11px;
    line-height: 10px;
    text-align: center;
}

.regular-checkbox {
	-webkit-appearance: none;
	background-color: #ffffff;
	border: 1px solid rgb(202, 202, 202);
	padding: 8px;
	border-radius: 50%;
	position: relative;
    transition: all ease 0.2s;
    
}
.regular-checkbox:checked {
	background-color: rgb(54, 217, 216);
    border: 1px solid rgb(54, 217, 216);
	color: rgb(255,255,255);
}
.regular-checkbox:checked:after {
	content: '\1F5F8';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: rgb(255,255,255);
}
button.addTask{
    position: fixed;
    left: 93%;
    top: 87%;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(137,79,198,0.7);
    color: rgb(255,255,255);
    font-size: 25px;
    font-weight: 200;
    background-color: rgb(137,79,198);
    transition: all ease 0.3s;
}
button.addTask.active{
    transform: rotate(45deg);
    box-shadow: 0px 0px 3px rgba(137,79,198,0.7);
}

/* Task adding div */


div.taskAdd{
    display: none;
    position: absolute;
    top: 100%;
    box-sizing: border-box;
    padding: 4%;
    margin: 1vw;
    width: 80%;
    border-radius: 15px;
    overflow: hidden; 
    transition: top ease 1s;
}
div.taskAdd.active{
    display: block;
    top: 10%;
}
div.taskAdd>input:first-of-type{
    position: relative;
    top: 10%;
    box-sizing: border-box;
    top: 1px;
    width: 85%;
    height: 45px;
    color: rgba(68, 68, 68, 0.8); 
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 12px;
    background-color: rgba(100, 100, 100, 0.3);
}
div.taskAdd>button{
    position: relative;
    top: 20px;
    left: 20%;
    width: 55%;
    height: 50px;
    margin: 10px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 15px;
    color: rgb(255,255,255);
    border:2px solid rgb(90, 223, 134) ;
    background-color: rgb(90, 223, 134);
    box-shadow: 0px 2px 10px rgba(90, 223, 134,0.7);
    font-size: 20px;
}
