@font-face {
    font-family: fonts_Nunito;
    src: url('Nunito-Regular.ttf');
}
*{
    outline: none !important;
    font-family: fonts_Nunito;
}
body{
    background-color: rgb(224, 227, 239);
    overflow: hidden; 
}
hr{
    opacity: 0.3;
}
.container.main{
    position: absolute;
    width: 100%;
    height: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0px 40px 25px -20px rgb(127, 127, 127);
    background-color: rgb(38, 42, 65);
    overflow: hidden;
}
.main>span:first-of-type{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 35px;
    padding: 8px 0px;
    border-radius: 12px;
    color: rgba(255,255,255, 0.6);
    text-align: center;
    font-size: small;
    background-color: rgb(60,63,84);
    z-index: 10;
    /* Safari */
    -webkit-user-select: none;
    /* IE 10 and IE 11 */
    -ms-user-select: none;
    /* standard browsers */
    user-select: none;
}
.container.right>div.task::-webkit-scrollbar, .events::-webkit-scrollbar{
    width: 0px;
}
.container.left, .container.right{
    position: relative;
    box-sizing: border-box;
    padding: 10%;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden; 
    
}
/* styling in left side container */
.container.left{
    display: none;
    color: rgb(255,255,255);
}
.container.left>div.heading{
    position: relative;
    width: 100%;
    height: 35%;
    line-height: 12px;
}
.container.left p.greeting{
    color: rgba(255, 255, 255, 0.274);
    font-size: 12px;
    width: 100%;
    text-align: justify;
}
.container.left div.search{
    position: relative;
    top: 10%;
    box-sizing: border-box;
    border-radius: 12px;
    width: 100%;
    height: 45px;
    color: rgb(255,255,255);
    background-color: rgba(255, 255, 255, 0.1);
}
.container.left .search>span{
    position: relative;
    top: 3px;
    padding: 4px 10px;
    color: rgba(255,255,255, 0.4);
    font-size: 25px;
}
.container.left .search>input{
    position: relative;
    border: none;
    top: 1px;
    height: 90%;
    width: 85%;
    color: rgba(255,255,255, 0.8);
    background-color: transparent; 
    margin-left: -5px;
}
.events{
    position: relative;
    width: 100%;
    height: 50%;
    padding: 2%;
    overflow: auto;
    
}
.event{
    position: relative;
    display: inline-block ;
    margin: 3%;
    width: 25%;
    height: 20%; 
    user-select: none;
}
.event>div{
    position: relative;
    width: 70px;
    text-align: center;
    padding: 22px 0px;
    border-radius: 20px;
    background: linear-gradient(to bottom left, rgb(167, 27, 108), rgb(255, 42, 166));
}
.event.active>div::before{
    position: absolute;
    content: '';
    top: -5px;
    left: -5px;
    padding: 52% 54%;
    border: 2px solid rgb(255, 42, 166);
    border-radius: 25px;
}
.event>p{
    position: relative;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    text-align: justify;
    color:rgba(255, 255, 255, 0.5)
}
/* styling in right side container */
.container.right{
    background-color: rgb(255,255,255);
    line-height: 18px;
}
.container.right>.heading{
    position: relative;
    text-align: justify;
    top: 3%;
    left: 3%;
}
.container.right>.heading>p{
    color: rgb(202, 202, 202);
    font-size: 11px;
    width: 90%;
}
.container.right>div.task{
    position: relative;
    width: 90%;
    height: 70%;
    margin-top: 10%;
    overflow: auto;
}
.container.right>.task>div{ 
    padding: 5%;
}
.label{
    display: block;
    position: relative;
    color: rgb(100, 100, 100);
    height: 30px;
    width: 90%;
}
.regular-checkbox {
	-webkit-appearance: none;
    position: relative;
	background-color: #ffffff;
	border: 1px solid rgb(202, 202, 202);
	padding: 8px;
	border-radius: 50%;
    transition: all ease-in-out 0.1s;
}
.regular-checkbox:checked {
	background-color: rgb(54, 217, 216);
    border: 1px solid rgb(54, 217, 216);
	color: rgb(255,255,255);
}
.regular-checkbox:checked::after {
	content: '\1F5F8';
	font-size: 13px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: rgb(255,255,255);
}
.label p {
    position: relative;
    display: inline-block;
    margin: 5px;
    width: 75%;
    top: -6px;
    font-size: 12px;
}
button{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(137,79,198,0.7);
    color: rgb(255,255,255);
    font-size: 25px;
    background-color: rgb(137,79,198);
    transition: all ease-in-out 0.2s;
}
button.addTask{
    position: absolute;
    right: 2%;
    bottom: 2%;
    border: none;
}
button.addTask:active{
    box-shadow: 0px 0px 3px rgba(137,79,198,0.7);
}
button.addTask.active{
    transform: rotate(-45deg);
}
/* Task adding div */
div.taskAdd{
    display: none;
    position: absolute;
    top: 25%;
    box-sizing: border-box;
    padding: 4%;
    width: 80%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 30px rgba(180, 180, 180, 0.7);
    border-radius: 15px;
    overflow: hidden; 
    transition: top ease 1s;
    user-select: none;
}
div.taskAdd.active{
    display:initial;
}
div.taskAdd>input[type='text'], #task_cntr input[type='text']{
    position: relative;
    top: 10%;
    box-sizing: border-box;
    top: 1px;
    width: 85%;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 12px;
    background-color: rgb(199, 199, 199);
}
div.taskAdd>button, #task_cntr button{
    position: relative;
    top: 20px;
    left: 20%;
    width: 55%;
    height: 50px;
    margin: 10px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 15px;
    color: rgb(255,255,255);
    border:2px solid rgb(90, 223, 134) ;
    background-color: rgb(90, 223, 134);
    box-shadow: 0px 2px 10px rgba(90, 223, 134,0.7);
    font-size: 20px;
}
div.taskAdd>button:active, #task_cntr button:active{
    box-shadow: 0px 0px 3px rgba(90, 223, 134,0.7);
}

@media (min-width: 470px) {
    .container.main{
        position: absolute;
        width: 80vw;
        height: 90vh;
    }
}

@media (min-width: 880px) {
    /* Desktops */
    .container.main{
        position: absolute;
        width: 80vw;
        height: 90vh;
    }
    .main>span:first-of-type{
        top: 20px;
        left: 20px;
    }
    .container.left, .container.right{
        position: absolute;
        box-sizing: border-box;
        top: 2%;
        width: 46%;
        height: 96%;
        
        border-radius: 15px;
        overflow: hidden; 
    } 
    .container.left{
        display: block;
        left: 2%;
        padding: 5%;
    }
    .container.right{
        right: 2%;
        padding: 3%;
    } 
}
 